<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- A link to the bootstrap css file. -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- It's a link to a font library. -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <!-- It's a block that can be overriden by the child templates. -->
    <title>{% block title %}Spotify mutual likes{% endblock %}</title>
  </head>
  <body>
    <!-- It's a navbar. -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- It's a button that will collapse the navbar when the screen is too small. -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse show navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          {% if is_auth %}
          <!-- It's a link to the home page with the user's picture and username. -->
          <a href='/home' class="navbar-brand">
            <img src={{client.pic}} width="30" height="30" class="rounded-circle d-inline-block align-top" alt="">
            Welcome {{client.username}}
          </a>
          <!-- It's a link to the page that will update the user's liked songs. -->
          <a class="nav-item nav-link" id="like" href="/likes">Update my liked songs</a>
          <!-- It's a link to the page that will log the user out. -->
          <a class="nav-item nav-link" id="logout" href="/sign_out">Logout</a>
          {% else %}
          <!-- It's a link to the page that will log the user in. -->
          <a class="nav-item nav-link" id="login" href={{auth_url}}>Sign in</a>
          {% endif %}
        </ul>
        <!-- It's a link to the github repository of the project. -->
        <span class="navbar-text">
          SPOTILIKES by
          <a href="http://github.com/xavpain">xavpain</a>
        </span>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <!-- It's a bootstrap alert that will display an error message. -->
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <!-- It's a bootstrap alert that will display a success message. -->
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <!-- It's a block that can be overriden by the child templates. -->
    <div class="container">{% block content %} {% endblock %}</div>
    
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="copyright">
          &copy; Spotilikes by <strong><span>le XAV</span></strong>.
        </div>
        <div class="credits">
          Github: <a href="https://github.com/xavpain/spotilikes">Spotilikes</a>
        </div>
      </div>
    </footer>
    <!------ End Footer ------->
    <script src="assets/js/main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

